monitor/__pycache__/__init__.cpython-313.pyc
monitor/__pycache__/checker.cpython-313.pyc
monitor/__pycache__/db.cpython-313.pyc
monitor/__pycache__/service.cpython-313.pyc
web/__pycache__/__init__.cpython-313.pyc
web/__pycache__/app.cpython-313.pyc
.env
